.color {
    background-color: aquamarine;
    border-radius: 15% 0%;
}
.center{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.form {    
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    
}
img {
    width: 20%;
    height: 20%;
}
